## Data Science
### Módulo 2 _ Machine Learning
### Aprendizaje supervisado

# Arboles de Decisión
### `Skillsforindustry.org`

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [ ]:
import warnings

warnings.filterwarnings('ignore')

### Importación de Datos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/data_automotriz.csv', header=None)

### EDA

In [ ]:
# exminar el Dataset
df.shape

(1728, 7)

buying: Precio del coche. Valores: vhigh, high, med, low.  
maint: Precio de mantenimiento. Valores: vhigh, high, med, low.  
doors: Número de puertas. Valores: 2, 3, 4, 5more.  
persons: Número de pasajeros. Valores: 2, 4, more.  
lug_boot: Tamaño del maletero. Valores: small, med, big.  
safety: Seguridad del coche. Valores: high, med, low.

In [ ]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [ ]:
df.sample(30)

          0      1      2     3      4     5      6
93    vhigh  vhigh  5more     4    med   low  unacc
257   vhigh    med      3     4    med  high    acc
152   vhigh   high      3     4    big  high  unacc
115   vhigh   high      2     2    big   med  unacc
848    high    low  5more     4  small  high    acc
313   vhigh    med  5more     4    big   med    acc
317   vhigh    med  5more  more  small  high    acc
273   vhigh    med      4     2    med   low  unacc
661    high    med      2     4    med   med  unacc
1381    low  vhigh  5more     2    med   med  unacc
538    high  vhigh  5more  more    big   med  unacc
385   vhigh    low      4     2    big   med  unacc
581    high   high      3     4    med  high    acc
382   vhigh    low      4     2    med   med  unacc
11    vhigh  vhigh      2     4  small  high  unacc
1650    low    low      3     2    med   low  unacc
274   vhigh    med      4     2    med   med  unacc
264   vhigh    med      3  more    med   low  unacc
136   vhigh   high      3     2  small   med  unacc
1086    med    med      2     2    big   low  unacc
49    vhigh  vhigh      3  more    med   med  unacc
181   vhigh   high      4  more  small   med  unacc
200   vhigh   high  5more     4  small  high  unacc
413   vhigh    low  5more     2    big  high  unacc
108   vhigh   high      2     2  small   low  unacc
501    high  vhigh      4     4    big   low  unacc
1363    low  vhigh      4     4    med   med    acc
623    high   high  5more     2  small  high  unacc
1027    med   high      4     2  small   med  unacc
1680    low    low      4     2    big   low  unacc

### Cambiar el nombre de las columnas

Podemos ver que el conjunto de datos no tiene los nombres de columna adecuados. Las columnas simplemente se etiquetan como 0,1,2 .... y así sucesivamente. Deberíamos dar nombres propios a las columnas. Lo haré de la siguiente manera: -

In [ ]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


df.columns = col_names

col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

### Significado de las columnas

buying -- buying price

maint-- price of the maintenance

doors -- number of doors

persons -- capacity in terms of persons to carry

lug_boot -- the size of luggage boot

safety --estimated safety of the car

In [ ]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

### Ver info del dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

### Distribución de los valores y su frecuencia

Frecuecencia de valores categoricos

In [ ]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


for col in col_names:
    
    print(df[col].value_counts())

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64
vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64
2        432
3        432
4        432
5more    432
Name: doors, dtype: int64
2       576
4       576
more    576
Name: persons, dtype: int64
small    576
med      576
big      576
Name: lug_boot, dtype: int64
low     576
med     576
high    576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

### Resumen de variables


- hay 7 tipos de variables. todas son de tipo categorico


-  `buying`, `maint`, `doors`, `persons`, `lug_boot`, `safety` y `class`.


- `class` es nuestra variable target

### Explorando la varible `class`

In [ ]:
df['class'].value_counts(normalize = True)

unacc    0.700231
acc      0.222222
good     0.039931
vgood    0.037616
Name: class, dtype: float64

 `class` es una variable ordinaria

### Missing values

In [ ]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

# Declarar "feature vector" y " target variable"

In [ ]:
X = df.drop(['class'], axis=1)
y = df['class']

# Separamos nuestra data en *Train y Test*

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [ ]:
# verificar el Shape

X_train.shape, X_test.shape

((1157, 6), (571, 6))

# Feature Engineering

**Feature Engineering** es el proceso de transformar datos sin procesar en funciones útiles que nos ayudan a comprender mejor nuestro modelo y aumentar su poder predictivo. Realizaré ingeniería de funciones sobre diferentes tipos de variables.

In [ ]:
# Verificar Datatypes

X_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

## Encode : Variables categoricas

In [ ]:
X_train.head()

     buying  maint  doors persons lug_boot safety
48    vhigh  vhigh      3    more      med    low
468    high  vhigh      3       4    small    low
155   vhigh   high      3    more    small   high
1721    low    low  5more    more    small   high
1208    med    low      2    more    small   high

In [ ]:
[cat_ in X_test.buying.unique() for cat_ in X_train]

Podemos ver que todas las variables son del tipo de datos categóricos ordinales.

In [ ]:
!pip install category_encoders  #esto lo hacemos para ver si estamos errando al convertir con este paquete

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 3.2 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [ ]:
# importar category encoders ( el encoder cambia nuestras categorias a un numero que lea la computadora!!!)
# pip install category_encoders - para instalar por primera vez


import category_encoders as ce

In [ ]:
# encode variables with ordinal encoding

encoder = ce.OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])


X_train = encoder.fit_transform(X_train) #buying: vhigh
X_test = encoder.transform(X_test) #buying: not vhigh


X_train = encoder.fit_transform(X_train) #buying: not vhigh
X_test = encoder.transform(X_test) #buying: vhigh

In [ ]:
X_train

In [ ]:
df2 = pd.read_csv('/content/data_automotriz.csv', header=None)
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
df2.columns = col_names

In [ ]:
df2.buying.value_counts()

In [ ]:
equivalencias = {
    "vhigh":8,
    "high": 6,
    "med": 4,
    "low": 2
}
df2.buying.replace(equivalencias)

In [ ]:
X_test.head()

Ahora tenemos la capacitación y el conjunto de pruebas listos para la construcción de modelos.

# Decision Tree Classifier con gini index**

In [ ]:
# importar DecisionTreeClassifier

from sklearn.tree import DecisionTreeClassifier

In [ ]:

clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=7, random_state=0)


# fit the model
clf_gini.fit(X_train, y_train)

### Predecir los resultados del conjunto de prueba con gini index

In [ ]:
y_pred_gini = clf_gini.predict(X_test)

### Compruebe "Accuracy Score" con  criterion gini index

In [ ]:
from sklearn.metrics import accuracy_score

print('Accuracy score con gini index: {0:0.4f}'. format(accuracy_score(y_test, y_pred_gini)))

Aqui, **y_test** son las verdaderas etiquetas de clase y **y_pred_gini** son las etiquetas de clase predichas en el conjunto de prueba.

### Comparar "Accuracy" con train-set y test-set 

Debemos tambien comprobar el overfitting

In [ ]:
y_pred_train_gini = clf_gini.predict(X_train)

y_pred_train_gini

In [ ]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train_gini)))

### Comparar overfitting y underfitting

In [ ]:

print('Training set score: {:.4f}'.format(clf_gini.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(clf_gini.score(X_test, y_test)))

training-set accuracy score is 0.7865 while the test-set accuracy to be 0.8021. These two values are quite comparable. So, there is no sign of overfitting.

### Visualizar Arboles de Decisión

In [ ]:
plt.figure(figsize=(12,8))

from sklearn import tree

tree.plot_tree(clf_gini.fit(X_train, y_train))

# Decision Tree Classifier con entropy**

In [ ]:

clf_en = DecisionTreeClassifier(criterion='entropy', max_depth=7, random_state=0)


# fit the model
clf_en.fit(X_train, y_train)

### Predecir los resultados de Test set  con entropy

In [ ]:
y_pred_en = clf_en.predict(X_test)

### Comprobar "accuracy score" con  entropy

In [ ]:
from sklearn.metrics import accuracy_score

print('Accuracy score con entropy: {0:0.4f}'. format(accuracy_score(y_test, y_pred_en)))

### Comparar "Accuracy" con train-set y test-set 


Debemos tambien comprobar el overfitting

In [ ]:
y_pred_train_en = clf_en.predict(X_train)

y_pred_train_en

In [ ]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train_en)))

### Comparar overfitting y underfitting

In [ ]:

print('Training set score: {:.4f}'.format(clf_en.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(clf_en.score(X_test, y_test)))

Los resultados son muy similares a los anteriores. 

The training-set accuracy score is 0.7865 while the test-set accuracy to be 0.8021. These two values are quite comparable. So, there is no sign of overfitting.

### Visualizar Arboles de Decisión

In [ ]:
plt.figure(figsize=(12,8))

from sklearn import tree

tree.plot_tree(clf_en.fit(X_train, y_train))

Ahora, con base en el análisis anterior, podemos concluir que la precisión de nuestro modelo de clasificación es muy buena. Nuestro modelo está haciendo un muy buen trabajo en términos de predecir las etiquetas de clase.


Pero no da la distribución subyacente de valores. Además, no dice nada sobre el tipo de errores que está cometiendo nuestro clasificador.


Tenemos otra herramienta llamada "Confusion Matrix" que viene a nuestro rescate.

# Confusion matrix


Una matriz de confusión es una herramienta para resumir el rendimiento de un algoritmo de clasificación. Una matriz de confusión nos dará una imagen clara del desempeño del modelo de clasificación y los tipos de errores producidos por el modelo. Nos da un resumen de predicciones correctas e incorrectas desglosadas por categoría. El resumen se representa en forma de tabla.


Son posibles cuatro tipos de resultados al evaluar el desempeño de un modelo de clasificación. Estos cuatro resultados se describen a continuación: -


**True Positives (TP)** – Los verdaderos positivos ocurren cuando predecimos que una observación pertenece a una determinada clase y la observación realmente pertenece a esa clase.


**True Negatives (TN)** – Los verdaderos negativos ocurren cuando predecimos que una observación no pertenece a una determinada clase y la observación en realidad no pertenece a esa clase.

**False Positives (FP)** – Los falsos positivos ocurren cuando predecimos que una observación pertenece a una determinada clase, pero la observación en realidad no pertenece a esa clase. Este tipo de error se llama **Type I error.**



**False Negatives (FN)** – Los falsos negativos ocurren cuando predecimos que una observación no pertenece a una determinada clase, pero la observación realmente pertenece a esa clase. Este es un error muy grave y se llama **Type II error.**




Estos cuatro resultados se resumen en una matriz de confusión que se presenta a continuación.

In [ ]:

from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix


cm = confusion_matrix(y_test, y_pred_en)

print('Confusion matrix\n\n', cm)

plot_confusion_matrix(clf_en, X_test, y_test)

# Classification Report


**Classification report** es otra forma de evaluar el rendimiento del modelo de clasificación. Muestra la  **precision**, **recall**, **f1** y **support** puntuaciones para el modelo. He descrito estos términos más adelante.

Podemos imprimir un informe de clasificación de la siguiente manera

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred_en))

# Resultados y conclusión  


1. En este proyecto, construyo un modelo de clasificador de árbol de decisiones para predecir la clase del automóvil. Construyo dos modelos, uno con criterio "**Gini index**" y otro con criterio "**Entropy**". El modelo arroja un rendimiento muy bueno, como lo indica la precisión del modelo en ambos casos, que resultó ser de **0,8021**.
2. En el modelo con el criterio "**Gini Index**", la puntuación de precisión del conjunto de entrenamiento es 0,7865 mientras que la precisión del conjunto de prueba es 0,8021. Estos dos valores son bastante comparables. Por lo tanto, no hay signos de *Overfitting*.
3. De manera similar, en el modelo con criterio "**Entropy**", la puntuación de precisión del conjunto de entrenamiento es 0,7865 mientras que la precisión del conjunto de prueba es 0,8021. Obtenemos los mismos valores que en el caso del criterio "gini". Por lo tanto, no hay signos de *Overfitting*
4. En ambos casos, la puntuación de precisión del conjunto de entrenamiento y del conjunto de prueba es la misma. Puede suceder debido a un pequeño conjunto de datos.
5. La matriz de confusión y el informe de clasificación arrojan muy buen rendimiento del modelo.